.card-about{
    background: linear-gradient(135deg, rgba(11, 11, 11, 0.7), rgb(11, 11, 11));
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border-radius: 20px;
    border: 1px solid rgb(11, 11, 11, 0.2);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.9);

    transition: border-color 0.2s ease;
}

.btn-cv:hover{
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.btn-cv:hover{
  background-color: rgb(75, 9, 137);
  border-color: white;
}

.about-contain{
   height: 35rem;
}

.about-contain::-webkit-scrollbar {
    width: 4px;
  }

  .about-contain::-webkit-scrollbar:hover{
    width: 40px;
  }
  
  .about-contain::-webkit-scrollbar-thumb {
    background-color: grey;
  }

  .about-contain::-webkit-scrollbar-thumb:hover {
    background-color: aqua;
  }
  
  .about-contain::-webkit-scrollbar-track {
    background-color: transparent;
    margin: 5rem 0;
  }