.card-about{
    background: linear-gradient(135deg, rgba(11, 11, 11, 0.7), rgb(11, 11, 11));
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 20px;
    border: 1px solid rgb(11, 11, 11, 0.2);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.9);
    z-index: 999;
    transition: border-color 0.2s ease;
}

.btn-cv:hover{
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.btn-cv:hover{
  background-color: rgb(75, 9, 137);
  border-color: white;
}
