
.bounce-top {
  animation: bounce-top 1s linear both;
}

@keyframes bounce-top {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

.card {
  background: linear-gradient(135deg, rgba(11, 11, 11, 0.7), rgb(11, 11, 11));
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 20px;
  border: 1px solid rgb(11, 11, 11, 0.2);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.9);
}

.box-icon {
  transition: color 0.3s ease;
}

.box-icon:hover {
  color: white;
}

.link-projects {
  transition: color 0.2s, text-decoration 0.2s;
}

.link-projects:hover {
  color: white;
  text-decoration: underline;
}

.icon-linkedin,
.icon-github {
  border: 1px solid rgba(113, 113, 113, 0.548);
  border-radius: 10px;
  transition: transform 0.2s ease, background-color 0.2s;
}

.icon-linkedin:hover {
  transform: scale(1.2);
  background-color: #0077b5;
  border: 1px solid #ffffff;
}

.icon-github:hover {
  transform: scale(1.2);
  background-color: #000000;
  border: 1px solid #ffffff;
}
