
.scale-up-center {
  animation: scale-up-center 0.4s;
}

@media screen and (min-width: 1024px) {
  @keyframes scale-up-center {
    from {
      width: 0;
      height: 0;
    }
    to {
      width: 40%;
      height: 40%;
    }
  }
}

/* Para pantallas pequeñas (menores a 1024px) */
@media screen and (max-width: 1023px) {
  @keyframes scale-up-center {
    from {
      width: 0;
      height: 0;
    }
    to {
      width: 60%;
      height: 60%;
    }
  }
}

.blur-bg {
  background-color: #a84ddf;
  filter: blur(6.25rem);
  animation: scale-up-center 2s ease-in-out;
}
